{%extends "staircase/foup_wafer/foup_wafer.html"%}


	
	{%block content1%}
		<div class="col-sm-8 text-left"> 
		<h3>{{foup.foupname}} Detail</h3>
		<hr>
		
			{%if slot_list%}
			<table class="table table-bordered">
				<tr>
					<th>Foup</th>
					<th>Slot</th>
					<th>Occupied</th>
					<th>Wafer Used</th>
				</tr>
				{%for slot in slot_list%}
				<tr>
					<td>{{foup.foupname}}</td>
					<td><a href="#">S{{slot.slot}} </td>
					{%if slot.has_wafer%}
					<td><a href="#">Yes</td>
					{%else%}
					<td>No</td>
					{%endif%}
					{%if slot.wafer_used%}
					<td>Yes</td>
					{%else%}
					<td>No</td>
					{%endif%}
				</tr>
				{%endfor%}
			</table>
			{%endif%}
		</div>
		<div class="col-sm-2 sidenav">
			<div>
				<p><a class="btn btn-primary btn-medium" href="/staircase/foups/{{foup.foupname}}/reclaim" role="button">Reclaim Wafers</a></p>
			</div>
			<div>
				<p><a class="btn btn-primary btn-medium" href="/staircase/foups/{{foup.foupname}}/load" role="button">Load Wafers</a></p>
			</div>
		</div>
	{%endblock%}
	{%block footer%}
	
	{%endblock%}