{%extends "staircase\index.html"%}
	{%block navbar_choices%}
      <ul class="nav navbar-nav">
        <li><a href="{%url 'project'%}">Projects</a></li>
        <li><a href="{%url 'user'%}">Users</a></li>
        <li><a href="{%url 'foups'%}">Foup&Wafer</a></li>
        <li class="active"><a href="{%url 'chamber'%}">Chamber</a></li>
		  <li><a href="#">Split</a></li>
        <li class="nav-item dropdown show">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recipe
            </a>
            <div class="dropdown-menu" aira-labelledby="dropdown01">
              <a class="dropdown-item" href="{%url 'Ox_recipe'%}">Ox Recipe</a>
              <br>
              <a class="dropdown-item" href="{%url 'Nit_recipe'%}">Nit Recipe</a>
              <br>
              <a class="dropdown-item" href="{%url 'Stack_recipe'%}">Stack Recipe</a>
            </div>
        </li>
		  <li><a href="{%url 'thickness'%}">Thickness</a></li>
      </ul>
	{%endblock%}
	
	  {%block content%} 
    <div class="col-sm-2 sidenav">
			{%if chamber_list%}
			<ul>
			{%for chamber in chamber_list%}
			<li><a href="/staircase/chamber/{{chamber.id}}">{{chamber.chamberName}}</a></li>
			{%endfor%}
			</ul>
			{%else%}
			<p>No Chamber is available.</p>
			{%endif%}
			<p style="position:absolute;left:35%;bottom:10px;"><a class="btn btn-primary btn-medium" href="{%url 'create_chamber'%}" role="button">Add Chamber</a></p>
	  
    </div>
	{%endblock%}